@import "variables";

@font-face {
  font-family: 'Kumbh Sans';
  src: url('./assets/fonts/KumbhSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'Kumbh Sans';
  src: url('./assets/fonts/KumbhSans-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: fallback;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  background: $royal-blue;
  font-family: $kumbh;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: $trout;
  min-height: 100vh;
  @media (max-width: $mobile-bp) {
    font-size: 13px;
    line-height: 16px;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border-style: none;
  background: unset;
  padding: 0;
  cursor: pointer;
}

ul,
ol {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: $container-width;
  margin: auto 15px;
}