$mirage: #1e1f36;
$royal-blue: #6463E7;
$medium-purple: #B068E9;
$mandarin-pearl: #F47B56;
$trout: #4B4C5F;
$jumbo: #787887;
$athens-gray: #E8E8EA;
$white: #ffffff;

$kumbh: "Kumbh Sans", sans-serif;

$desktop-bp: 1440px;
$tablet-big-bp: 1199px;
$tablet-bp: 991px;
$mobile-bp: 767px;

$container-width: 920px;