$imgWidth: 472px;
$imgHeight: 358.13px;
$imgMobileWidth: calc($imgWidth/2);
$imgMobileHeight: calc($imgHeight/2);

.faq {
  background: linear-gradient(180deg, $medium-purple 0%, $royal-blue 100%);
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  @media (max-width: $tablet-bp) {
    padding-top: calc($imgMobileHeight/2*1.21 + 20px);
  }

  &__container {
    background-color: $white;
    background-image: url("./assets/img/purple-bg.svg"), url("./assets/img/lines.svg");
    background-repeat: no-repeat, no-repeat;
    background-position-x: -40.5%, -6%;
    background-position-y: calc(50% + 125px), top;
    box-shadow: 0px 50px 50px -20px rgba(53, 18, 122, 0.497159);
    border-radius: 23px;
    padding-top: 65px;
    padding-bottom: 83px;
    padding-right: 95px;
    width: 100%;
    min-height: 550px;
    position: relative;
    @media (max-width: $tablet-bp) {
      padding: 132px 48px 48px;
      background-image: url("./assets/img/purple-bg-mobile.svg");
      background-position-x: center;
      background-position-y: 0;
    }
    @media (max-width: $mobile-bp) {
      padding: 132px 24px 48px;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    color: $mirage;
    text-transform: uppercase;
    margin-bottom: 43px;
    @media (max-width: $tablet-bp) {
      text-align: center;
      margin-bottom: 38px;
    }
  }

  &__img-wrapper {
    width: 50%;
    height: 100%;
  }

  &__img {
    position: absolute;
    left: -10%;
    max-width: $imgWidth;
    height: $imgHeight;
    @media (max-width: $tablet-big-bp) {
      left: -4%;
    }
    @media (max-width: $tablet-bp) {
      max-width: $imgMobileWidth;
      height: $imgMobileHeight;
      top: calc(-1.21 * ($imgMobileHeight / 2));
      left: calc(50% - $imgMobileWidth/2);
    }
  }

  &__info-wrapper {
    width: 50%;
    margin-left: 57%;
    @media (max-width: $tablet-bp) {
      width: 100%;
      margin-left: 0;
    }
  }

  &__item {
    position: relative;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-right: 20px;
    width: 100%;
    border-bottom: 1px solid $athens-gray;
    transition: .5s;
    &:hover, &:focus {
      color: $mandarin-pearl;
      cursor: pointer;
    }
    &:before {
      position: absolute;
      content: '';
      background-image: url("./assets/img/faq-arrow.svg");
      background-repeat: no-repeat;
      top: 22.5px;
      right: 5px;
      width: 11px;
      height: 7px;
      transition: all 0.35s ease-out;
    }
  }

  &__answer {
    display: none;
    margin-top: 11px;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: $jumbo;
  }

  .active {
    color: $mirage;
    font-weight: 700;
    &:before {
      transform: rotateX(180deg);
      transition: all 0.35s ease-out;
    }
    & > .faq__answer {
      display: block;
    }
  }
}